<h2>Thanks, you paid <strong>CAD <%= @charge %></strong>!</h2>
<h4>
  We hope you enjoyed our service! We look forward to you continuing to provide you the trendiest clothing that best fits YOUR body!
  Explore and shop more!
</h4>
