// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colorRules';

.checkout-verification-hr{
  border-width: 1em;
}

.verify-black{
  margin: 0 7%;
}

.getting-verified{
  color: red;
}

.wait-message{
  color: $odessuBlue;
}

.checkout-verification-container > span:first-of-type{
  float: left;
  margin-left: 24%;
}

.checkout-verification-container > span:last-of-type{
  float: right;
  margin-right: 24.5%;
}
